body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	background-color:#f4f4f4;/*Light Grey*/
	
	
	
}

/*Global */
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

.AppContainer{
	width:50%;
	margin:auto;
	padding:10px;
	overflow:hidden;
	float: left;
}

.InputDetails{
	width:40%;
	float:right;
	margin:15px;
	border:solid;
	border-color:black;
	padding:10px;
	line-height:0.8;
}

.submitbtn{
	border:solid;
	margin: 5px;
	padding:5px;
	border-color:black;
	background-color:#479aed;
	border-radius:12px;
}

.submitbtn:hover{
	background-color:#f4f4f4;
	border-color:#479aed;
}

.submitbtn:active{
	background-color:black;
	color:#f4f4f4;
}

/*DROPDOWN LIST*/
/* Dropdown Button*/
.dropbtn {
	background-color: #479aed;
	color:white;
	padding:16px;
	font-size:16px;
	border: none;
	margin: -15px;
	cursor: pointer;
}

/*Container div - needed to position dropdown content*/
.dropdown {
	position: relative;
	display: inline-block;
}

/*Dropdown Content (Hidden by default)*/
.dropdown-content {
	display:none;
	position:absolute;
	right:-15px;
	background-color:#8E8C8C;
	min-width:160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:1;
}

/*Links inside dropdown*/
.dropdown-content a{
	color:white;
	padding: 12px 16px;
	text-decoration:none;
	display: block;
}

/*Show the dropdown menu on hover*/
.dropdown:hover .dropdown-content {
	display:block;
}

/*Change colour of dropdown list text on hover*/
.dropdown-content a:hover {
	color:black;
}

ul{
	margin:0;
	padding:0;
}

/* header */
header{
	background:#479aed; /*blue*/
	color:#ffffff;
	padding-top:30px;
	min-height:70px;
	border-bottom:#0b335b  3px solid;
}

header a{
	color:#ffffff;
	text-decoration:none;
	text-transform: uppercase;
	font-size:16px
}


header li{
	float:left;
	display:inline;
	/* top , right, bottom, left padding*/
	padding: 0 20px 0 20px;
}
header #branding{
	float:left;
}
header nav{
	float:right;
	margin-top:-50px;
}

header .highlight, header .current a{
	color:#000000;
	font-weight:bold;
}


header a:hover{
	color:#cccccc;
	font-weight:bold;
}



/*showcase*/ /*#830703*/
#showcase{
	min-height:400px;
	/*background: linear-gradient(#479aed, white) no-repeat;*/
	background: url(../img/showcase2.png) no-repeat #830703;
	text-align:center;
	color:#ffffff;
}
#showcase h1{
	margin-top:0px;
	font-size:55px;
	margin-bottom:10px;
}
#showcase p{
	font-size:20px;
}

/*boxes*/
#boxes{
	margin-top:20px;
}
#boxes .box{
	float:left;
	width:30%;
	padding:10px;
}


footer{
	padding:20px;
	margin-top:20px;
	color:#ffffff;
	background-color:#479aed;
	text-align: center;
	clear:both;
	overflow:auto;
}

#separationBar{
	padding:15px;
	color:#ffffff;
	background:#479aed;
	text-align:center;
}







